#logo {
    position: relative;
}

.logo-container {
    position: absolute;
    z-index: 100;
}

.navbar-title {
    background-color: #dfbe2d;
    height: 90px;
}

.navbar-footer {
    background-color: #292929;
    padding-bottom: 5px;
}

.credits {
    padding-top: 10px;
}

.footer-content {
    color: #f0f0f0;
}

.section-over-img {
    position: absolute;
    top: 40%;
    left: 15%;
    min-width: 50%;
}

.over-text {
    background-color: #A0F0F0F0;
    border-radius: 4px;
    border-width: 1px;
    padding: 5px 10px 1px;
}

.spacer {
    height: 100vh;
}