#logo {
    position: relative;
    margin-left: 50px;
    transition: transform 0.25s;
    transform: scale(1.0);
}

.navbar-nav {
    position: absolute;
    right: 0px;
}

#logo:hover {
    transform: scale(1.10);
}

.logo-container {
    position: absolute;
    z-index: 100;
}

.navbar-title {
    background-color: #292929A0;
    height: 90px;
}

.navbar-footer {
    background-color: #292929;
    padding-bottom: 5px;
    padding-top: 4px;
}

.credits {
    padding-top: 10px;
}

.footer-content {
    color: #E0E0E0;
}

.small-icon {
    width:40px;
    height:40px;
    margin-left: 5px;
}

.no-dot {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 10pt;
}

.no-dot > li > a {
    color: cyan;
}

.section-over-img {
    position: absolute;
    top: 40%;
    left: 15%;
    min-width: 100%;
}

.over-text {
    background-color: #A0F0F0F0;
    border-radius: 4px;
    border-width: 1px;
    padding: 5px 10px 1px;
}

.nav-link {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 21pt;
    transition: font-size 0.25s;
}

.nav-link:hover {
    font-size: 23pt;
}

.navbar-brand {
    position: absolute;
    left: 0;
}
